 <!-- footer -->
 <footer class="footer">
    <div class="main-footer">
      <section class="socialMedia">
        <a href="https:www.twitter.com">
          <i class="fab fa-twitter fa-3x"></i>
        </a>
        <a href="https:www.facebook.com">
          <i class="fab fa-facebook fa-3x"></i>
        </a>
        <a href="https:www.google.com">
          <i class="fab fa-google fa-3x"></i>
        </a>
        <a href="https:www.instagram.com">
          <i class="fab fa-instagram fa-3x"></i>
        </a>
      </section>

      <section class="footer-nav">
        <h1 class="footer-nav-title">Informations</h1>
        <ul class="footer-nav-list">
          <li class="footer-navigation"><a href="#"> A propos</a></li>
          <li class="footer-navigation">
            <a href="Echanges et retours.html"> Echanges et retours</a>
          </li>
          <li class="footer-navigation">
            <a href="termes&conditions.html"> Termes et conditions</a>
          </li>
          <li class="footer-navigation"><a href="#"> Suivi commande</a></li>
        </ul>
      </section>
      <section class="footer-nav">
        <h1 class="footer-nav-title">Produits</h1>
        <ul class="footer-nav-list">
          <li class="footer-navigation"><a href="#"> Promotions</a></li>
          <li class="footer-navigation">
            <a href="#"> Nouveaux produits</a>
          </li>
          <li class="footer-navigation"><a href="#"> Meilleurs vente</a></li>
          <li class="footer-navigation">
            <a href="#"> Produit à essayer</a>
          </li>
        </ul>
      </section>
      <section class="footer-nav">
        <h1 class="footer-nav-title">Navigations</h1>
        <ul class="footer-nav-list">
          <li class="footer-navigation">
            <a href="daddesh.html"> Accueil</a>
          </li>
          <li class="footer-navigation">
            <a href="boutique.html"> Boutique</a>
          </li>
          <li class="footer-navigation"><a href="bbp.html"> Blog</a></li>
          <li class="footer-navigation">
            <a href="contact.html"> Contact</a>
          </li>
          <li class="footer-navigation">
            <a href="CCM.html"> Comment ça marche!</a>
          </li>
        </ul>
      </section>
    </div>
   
    <div class="second-footer">
      <p>© Tous droits réservés.</p>
    </div>
  </footer>