
<header id="header" class="header">
  <div class="header__topline">
      <div class="container-wrapper d-flex align-items-center justify-content-between">
                          <div class="header__topline-phone">
                              <i class="fa fa-phone-alt"></i>&nbsp;
                              +216 24 319 840
                            </div>
                      <div class="header__topline-email">
                          <i class="fa fa-envelope"></i>&nbsp;
                          iheb.chargui123@gmail.com </div>
          <div class="header__topline-shipping">Livraison gratuite</div>
                         
         
          
  
          


                      <div class="header__topline-login" id="main-container">

                        <li *ngIf="loggedUser">

                            <i class="zmdi zmdi-account-circle"></i>
                            <a href="/boutique/profile" class="account">Mon compte</a>
                            <a href="/boutique" class="logout_but link" (click)="signout()">
                                <i class="zmdi zmdi-sign-in"></i></a>
                            
                        <!--i class="material-icons md-24 md-dark md-inactive">account_circle</i>

                        <a routerLink="/admin" class="link signin login-js" >Mon compte</a>



                        <a href="/boutique" class="logout_but link" (click)="signout()">
                            <i class="zmdi zmdi-sign-in"></i>
                        </a-->
                        <!--i class="material-icons md-24 md-dark md-inactive">search</i>
                        <a href="/boutique"  (click)="signout()">  Logout </a-->
                    </li>
                        <li *ngIf="!loggedUser">

                            
                                <i class="zmdi zmdi-account-add"></i>
                <a href="/register" class="link register register-popup-js">S'inscrire</a>
                <i class="zmdi zmdi-account-circle"></i>
                <a href="/login" class="link signin login-js">Se connecter</a>
                <!--a (click)="onOpenModal(signin)" class="link signin login-js">Se connecter</a-->

                   

                          <!--i class="material-icons md-24 md-dark md-inactive">person_add</i>
                            <a  routerLink="/register" class="link register register-popup-js">S'inscrire</a>
      
            
                         <i class="material-icons md-24 md-dark md-inactive">account_circle</i>
                            <a routerLink="/login" class="link signin login-js" >Se connecter</a-->



                        </li>




                          </div>
                  </div>
  </div>
  

  <div class="header__content">
      <div class="container-wrapper d-flex align-items-center">
          <div class="header__content-logo">
              <a class="ga-click" data-gac="Main_menu" data-ga-action="Main_menu" href="/boutique">
                <img alt="toppiecesvoiture.fr boutique en ligne" src="../../assets/images/logof.png" />              </a>           
             </div>
                      <form action="https://www.toppiecesvoiture.fr/ersatzteile-suche" method="get"
                id="search_form" name="search_form" class="header__content-search">
              <input class="input-search" id="search" name="keyword" type="text"
                     placeholder="Rechercher un article" [(ngModel)]="recherche" >
                     <button class="input-button" (click)="rechercher()" >
                <i class="zmdi zmdi-search"></i></button>
              <div id="autocomplete-suggestions-list"></div>
          </form>


           
                  
   

     <div class="header__content-cart">
              

             
              
<div class="cart-header" id="cart_block">
    <a href="/boutique/panier" class="logout_but link" >
    <i class="zmdi zmdi-shopping-cart"></i></a>
    
  <!--i class="fa fa-shopping-cart"></i-->
  <span class="count artikles">0</span>
  <span class="price sum_info" >{{prixTotale}} dt</span>
</div>
          </div>
      </div>
  </div>
 
  


































<!--
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            
          </div>
        </li>
        </nav>

-->
<div class="header__navigation d-lg-flex d-none">
    <nav class="container d-flex align-items-center justify-content-between">
        <ul class="header__navigation-main">

            <li class="header__navigation-main-item js-dd-menu-title " >
                <a class="link " href="/boutique/produitgrid">
                    <span class="link dd-menu js-dd-menu">Pièces détachées</span>
                </a>
                  </li>

            <!--li class="header__navigation-main-item js-dd-menu-title " >
                <a class="link  " href="/boutique/addproduit">
                    <span class="link dd-menu js-dd-menu">Fabricants</span>
                </a>
                
            </li-->

            <!--li class="header__navigation-main-item js-dd-menu-title" >  
                 <a class="link  " href="/boutique/addproduit">
            
                  <span class="link dd-menu js-dd-menu" >Marques de voitures</span>
                 </a>
                           
  </li-->
        </ul>
        <ul class="header__navigation-second">
            <li class="header__navigation-main-item js-dd-menu-title" >  
                <a class="link  " href="/boutique/addproduit">
           
                 <span class="link dd-menu js-dd-menu" >À propos de nous</span>
                </a>
                          
 </li>

 <li class="header__navigation-main-item js-dd-menu-title" >  
    <a class="link  " href="/boutique/contact">

     <span class="link dd-menu js-dd-menu" >Contact</span>
    </a>
              
</li>

<li class="header__navigation-main-item js-dd-menu-title" >  
  <a *ngIf="loggedUser" class="link  " href="/admin">

   <span class="link dd-menu js-dd-menu" >Admin</span>
  </a>
 

</li>
            
        </ul>
    </nav>
</div>












</header>

<!-- Top bar End -->
      
      <!-- Nav Bar Start 
      <div class="nav">
          <div class="container-fluid">
              <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                  <a href="#" class="navbar-brand">MENU</a>
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                      <div class="navbar-nav mr-auto">
                          <a href="index.html" class="nav-item nav-link active">Home</a>
                          <a href="product-list.html" class="nav-item nav-link">Products</a>
                          <a href="product-detail.html" class="nav-item nav-link">Product Detail</a>
                          <a href="cart.html" class="nav-item nav-link">Cart</a>
                          <a href="checkout.html" class="nav-item nav-link">Checkout</a>
                          <a href="my-account.html" class="nav-item nav-link">My Account</a>
                          <a routerLink="/contact" class="nav-item nav-link">Contact</a>

                          
                      </div>



                      
                      
                  </div>
              </nav>
          </div>
      </div>-->
      <!-- Nav Bar End -->  
      <!-- Bottom Bar Start >
      <div class="bottom-bar">
          <div class="container-fluid">
              <div class="row align-items-center">
                  <div class="col-md-3">
                      <div class="logo">
                          <a href="index.html">
                              <img src="img/logo.png" alt="Logo">
                          </a>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="search">
                          <input type="text" placeholder="Search">
                          <button><i class="fa fa-search"></i></button>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="user">
                          <a href="wishlist.html" class="btn wishlist">
                              <i class="fa fa-heart"></i>
                              <span>(0)</span>
                          </a>
                          <a href="cart.html" class="btn cart">
                              <i class="fa fa-shopping-cart"></i>
                              <span>(0)</span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
       Bottom Bar End --> 


<!--
    <div id="header1">
        <div id="left">
          <a href="/"> <img src="assets/images/logo.png" /> </a>
        </div>
  
        <div id="right">
          <ul>
            <li><a href="/boutique/addproduit" class="custom_btn"> add </a></li>
            <li><a href="" class="custom_btn"> Boutique </a></li>
            <li><a href="" class="custom_btn"> Blog </a></li>
            <li><a href="" class="custom_btn"> Contact </a></li>
            <li *ngIf="!loggedUser"><a href="/login" class="custom_btn"> login </a></li>
            <li>
              <a href="/boutique/panier" > <img src="assets/images/panier.png" /> </a>
            </li>
            <li>
              <a  href="" href="/boutique/profile">  <img onError="this.hidden='true'" style="height: 40px;width: 40px;"   class="rounded-circle" src="{{image }}"  /> </a>
            </li>
            <li>
              <a href="favories.html"> <img src="assets/images/favpage.png" /> </a>
            </li>
            <li>

              <a href="/login"  (click)="signout()">  <img src="assets/images/recherche.png" /> </a>
            </li>
          </ul>
        </div>
      </div-->



      
 <!-- Modal -->
 <div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 150%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container pb-5 mb-sm-1">
                    
      
      </div>
    </div>
  </div>
  
    </div>
 </div>
 