<div *ngIf="!listData.length">
    <!-- panier page -->
    <div  class="panier-vide">
        <div class="panier-info">
          <img src="assets/images/pagepanier.png" />
          <h3>Votre panier est vide!</h3>
          <hr />
         
          <a href="/boutique" class="btn border-gray">
            Commencez vos achats!
          </a>
        </div>
      </div>
    
    </div>
<section class="section-shopping-cart" >
    <div *ngIf="listData.length" class="container">
        <div class="row-fluid">

            <div class="span12">
                <div class="page-content shopping-cart-page">

                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="span2"></th>
                                <th class="span5">Produit</th>
                                <th class="span2 price-column">prix</th>
                                <th class="span2">Quantité</th>
                                <th class="span1 price-column">Coût</th>
                                <th class="span2">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            


                            
                            <tr *ngFor="let produit of  listData">
                                <td >
                                    <div class="thumb">
                                        <img alt="" src="{{this.crudApi.base_path+'/findImage/'+produit.id+'/'+0}}" />
                                    </div>
                                </td>
                                <td>
                                    <div class="desc">
                                        <h3>{{produit.nom}}</h3>
                                
                                        <div class="pid">N° de référence: 7827632</div>
                                    </div>

                                </td>
                                <td>

                                    <div class="price">
                                        {{produit.prix}}&nbsp;DT
                                    </div>

                                </td>
                                <td>
                                    <div class="quantity">
                                        <select class="chosen-select" >
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>

                                        </select> 
                                    </div>
                                </td>

                                <td>

                                    <div class="price">
                                        30DT
                                    </div>

                                </td>

                                <td>

                                    <div class="delete">
                                        <a class="close-btn" href="/boutique/panier"  (click)="delete(produit.CommandeId) "></a>
                                    </div>

                                </td>
                            </tr>



                            <!--tr>
                                <td>
                                    <div class="thumb">
                                        <img alt="" src="../../assets/images/54.png" />
                                    </div>
                                </td>
                                <td>
                                    <div class="desc">
                                        <h3>PURFLUX, Filtre à air</h3>
                                
                                        <div class="pid">N° de référence: 42327632</div>
                                    </div>

                                </td>
                                <td>

                                    <div class="price">
                                        70DT
                                    </div>

                                </td>
                                <td>
                                    <div class="quantity">
                                        <select class="chosen-select" >
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>

                                        </select> 
                                    </div>
                                </td>

                                <td>

                                    <div class="price">
                                        140DT
                                    </div>

                                </td>

                                <td>

                                    <div class="delete">
                                        <a class="close-btn" href="#"></a>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="thumb">
                                        <img alt="" src="../../assets/images/p.jpg" />
                                    </div>
                                </td>
                                <td>
                                    <div class="desc">
                                        <h3>PIRELLI, Pneu</h3>
                                
                                        <div class="pid">N° de référence: 87632</div>
                                    </div>

                                </td>
                                <td>

                                    <div class="price">
                                        200DT
                                    </div>

                                </td>
                                <td>
                                    <div class="quantity">
                                        <select class="chosen-select" >
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>

                                        </select> 
                                    </div>
                                </td>

                                <td>

                                    <div class="price">
                                        200DT
                                    </div>

                                </td>

                                <td>

                                    <div class="delete">
                                        <a class="close-btn" href="#"></a>
                                    </div>

                                </td>
                            </tr-->
                            


                        </tbody>
                    </table>
                    <div class="buttons-holder">
                        <a class="cusmo-btn gray narrow" href="/boutique/produitgrid">Continuer mes achats</a>
                        <a *ngIf="loggedUser" class="cusmo-btn narrow"  href="/boutique/commande">Valider commande</a>
                        <a *ngIf="!loggedUser" class="cusmo-btn narrow"  href="/login">Connectez-vous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
