<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
              alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">dia
              <strong>daw</strong>
            </span>
            <span class="user-status">
            </span>
          </div>
        </div>
        <!-- sidebar-header  -->
      
        <!-- sidebar-search  -->
        
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <a href="/boutique">
                <i class="fa fa-tachometer-alt"></i>
              <span>Acceuil</span>
            </a>
            </li>

            





            
            <li class="sidebar-dropdown">
              <a href="/admin">
               
                <i class="fas fa-users"></i> 
                <span>list-users</span>
              </a>
              
            </li>
            <li class="sidebar-dropdown" >
              <a href="/article">
                <i class="fa fa-shopping-cart"></i>
                <span>Produits</span>
              </a>
              
            </li>
            <li class="sidebar-dropdown">
              <a href="/categorie">
                <i class="fas fa-filter"></i>    
                  <span>Categorie</span>
              </a>
              
            </li>
            <li class="sidebar-dropdown">
              <a href="/scategorie">
                <i class="fa fa-book"></i>
                <span>Sous categorie</span>
              </a>
              
            </li>
            
            <li>
              <a href="/marque">
                <i class="fas fa-car"></i>
                  <span>Marque</span>
              </a>
            </li>
            <li>
              <a href="/modele">
                <i class="fas fa-car"></i>
                   <span>Modele</span>
              </a>
            </li>

            <li>
              <a href="/message">
                <i class="fa fa-book"></i>
                   <span>Message</span>
              </a>
            </li>
            
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
     
    </nav>
    
    <!-- sidebar-wrapper  -->
    <app-users></app-users>
    