<!-- Category Start-->
<!--div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="../assets/images/1.jpg" />
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-250">
                    <img src="../assets/images/mot.png" />
                    
                </div>
                <div class="category-item ch-150">
                    <img src="../assets/images/dis.png" />
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-150">
                    <img src="../assets/images/amor.png" />
                    
                </div>
                <div class="category-item ch-250">
                    <img src="../assets/images/fi.png" />
                    
                </div>
            </div>
           
        </div>
    </div>
</div-->
<!-- Category End-->  
<!--div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                
                
            </div>
            <div class="col-md-6">
                <div class="header-slider normal-slider">
                    <div class="header-slider-item">
                        <img src="../assets/images/1.jpg" alt="Slider Image" />
                        
                    </div>
                   
                    
                </div>
                
            </div>

  
        </div>
    </div>
</div-->
<!-- Main Slider End -->      








<div class="container home-products"><h1 data-qa="title-all-products" class="boxed-title">Catégories Populaires</h1></div>

<mat-tab-group mat-align-tabs="center" class="main-tabs__tab">
    <mat-tab class="active" label="Meilleures catégories">

        <div class="main-tabs__content main-tab-1"  >
            <div class="main-tabs__slider" data-main-tabs-slider>
                            <div class="main-tabs__slider-item" *ngFor="let categorie of categories">
                                   
                                            <div class="catalog-grid-item undefined">
                                <a class="catalog-grid-item__link" href="#">
                                    <div class="catalog-grid-item__image">
                                        <img alt="Disques de Frein"
                                        class="lazyload"  src="{{categorie.image}}">                                    </div>
                                    <div class="catalog-grid-item__name" data-catalog-item-name>
                                        <span class="user-subhead">{{categorie.nom}}</span>
                                    </div>
                                </a>
                            </div>
                                    </div>
    
    
                              
                                   
                           
                           
                            
                            
                           
                           
                          
                    </div>
            
        </div>
    
    
    </mat-tab>






    <mat-tab class="active" label="Marques de voitures">

        <div class="main-tabs__content main-tab-1"  >
            <div class="main-tabs__slider" data-main-tabs-slider>
                            <div class="main-tabs__slider-item" *ngFor="let marque of marques">
                                   
                                            <div class="catalog-grid-item undefined">
                                <a class="catalog-grid-item__link" href="#">
                                    <div class="catalog-grid-item__image">
                                        <img alt="Disques de Frein"
                                        class="lazyload"  src="{{marque.image}}">                                    </div>
                                    <div class="catalog-grid-item__name" data-catalog-item-name>
                                        <span class="user-subhead">{{marque.nom}}</span>
                                    </div>
                                </a>
                            </div>
                                    </div>
    
    
                              
                                   
                           
                           
                            
                            
                           
                           
                          
                    </div>
            
        </div>
    
    
    </mat-tab>


    
  </mat-tab-group>

 
     

  <!-- Feature Start
<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>Secure Payment</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Worldwide Delivery</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>90 Days Return</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>24/7 Support</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
Feature End-->     
       

     