
    <body>


        <div class="index-page">
              
            <div class="container-wrapper">
            <div class="index-selection index-selection--kba">
        <div id="search_model" class="index-selection__filter">
            <div class="container-wrapper">
                <form action="#" id="top-select" class="index-selection__filter-wrapper slt-form">
                    <div id="selector-wrapper" class="index-selection__filter-selector">
        <div class="title">Sélectionnez le véhicule</div>
        
        <div id="selector-wrapper" class="wrapper-selector">
        
        <div class="index-selection__filter-selector-select">
            <div id="maker-select" class="custom-select slt-selectbox-wrapper">
                <select id="form_maker_id" name="maker_id" class="custom-option-wrapper">
                    <option class="custom-option" value="">Choisissez une marque </option>
                </select>
            </div>
        </div>
        
        <div class="index-selection__filter-selector-select">
            <div id="model-select" class="custom-select slt-selectbox-wrapper">
                <select id="form_model_id" name="model_id" class="custom-option-wrapper">
                    <option class="custom-option" value="">Choisissez un modèle</option>
                </select>
            </div>
        </div>
        
        <div class="index-selection__filter-selector-select">
            <div id="car-select" class="custom-select slt-selectbox-wrapper">
                <select id="form_car_id" name="car_id" class="custom-option-wrapper">
                    <option class="custom-option" value="">Choisissez une motorisation</option>
                </select>
            </div>
        </div>
        
        

            <a href="#" class="submit index-selection__filter-selector-button"><i class="zmdi zmdi-search"></i></a>
        </div>
        </div>                                            
        
                                    </form>
            </div>
        </div>
        </div>
        </div>
        </div>

        
        
        </body>