

    <!--Filtre-->
    <section class="filter">
        <div class="sidebar">
          <div class="sidebar-left">
            <div class="card">
              <div class="card-head">
                <!-- carousel hero -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img
                        src="assets/images/couverture1.png"
                        alt="couverture1"
                        style="width: 100%"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="assets/images/couverture3.png"
                        alt="couverture3"
                        style="width: 100%"
                      />
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="card-body">
                <h4 class="card-title">Bienvenue sur Daddesh !</h4>
                <p class="card-description">
                  Restez connectés pour recevoir des offres spéciales, des
                  conseils de mode et les dernières nouvelles de daddesh...
                </p>
                <p class="buttons-titles">Connexion via</p>
                <a href="#" class="btn border-gray m-1"
                  ><i class="fab fa-facebook"></i
                ></a>
                <a href="#" class="btn border-gray m-1"
                  ><i class="fab fa-google"></i
                ></a>
              </div>
            </div>
  
            <div class="card-body card-filter mt-2 py-3">
              <h4 class="card-category">Catégorie</h4>
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Catégorie</option>
                  <option value="1">Femme</option>
                  <option value="2">Fille</option>
                  <option value="3">Garçon</option>
                </select>
              </div>
              <h4 class="card-category">Pointure</h4>
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02">
                  <option selected>Pointure</option>
                  <option value="1">36</option>
                  <option value="2">37</option>
                  <option value="3">38</option>
                  <option value="4">39</option>
                  <option value="5">40</option>
                </select>
              </div>
  
              <h4 class="card-category">Couleur</h4>
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect03">
                  <option selected>Couleur</option>
                  <option value="1">Noir</option>
                  <option value="2">blanc</option>
                  <option value="3">bleu</option>
                  <option value="4">vert</option>
                  <option value="5">rouge</option>
                  <option value="6">jaune</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        </section>