<div id="main">
<div class="headerbar">
  <!-- LOGO -->
  <div class="headerbar-left">
    <a href="index.html" class="logo">
        <img alt="Logo" src="assets/admin_assets/images/logo.png" />
        <span>TopPieces Admin</span>
    </a>
</div>

<nav class="navbar-custom">

    <ul class="list-inline float-right mb-0">
        <li class="list-inline-item dropdown notif">
            <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" aria-haspopup="false" aria-expanded="false">
                <i class="far fa-envelope"></i>
                <span class="notif-bullet"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg">
                <!-- item-->
                <div class="dropdown-item noti-title">
                    <h5>
                        <small>
                            <span class="label label-danger pull-xs-right">12</span>Mailbox</small>
                    </h5>
                </div>

                <!-- item-->
                <a href="mail-all.html" class="dropdown-item notify-item">
                    <p class="notify-details ml-0">
                        <b>John Doe</b>
                        <span>New message received</span>
                        <small class="text-muted">3 minutes ago</small>
                    </p>
                </a>

                <!-- item-->
                <a href="mail-all.html" class="dropdown-item notify-item">
                    <p class="notify-details ml-0">
                        <b>Michael Smith</b>
                        <span>New message received</span>
                        <small class="text-muted">18 minutes ago</small>
                    </p>
                </a>

                <!-- item-->
                <a href="mail-all.html" class="dropdown-item notify-item">
                    <p class="notify-details ml-0">
                        <b>John Lenons</b>
                        <span>New message received</span>
                        <small class="text-muted">Yesterday, 18:27</small>
                    </p>
                </a>

                <!-- All-->
                <a href="mail-all.html" class="dropdown-item notify-item notify-all">
                    View All Messages
                </a>

            </div>

        </li>

        <li class="list-inline-item dropdown notif">
            <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" aria-haspopup="false" aria-expanded="false">
                <i class="far fa-bell"></i>
                <span class="notif-bullet"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg">
                <!-- item-->
                <div class="dropdown-item noti-title">
                    <h5>
                        <small>
                            <span class="label label-danger pull-xs-right">5</span>Allerts</small>
                    </h5>
                </div>

                <!-- item-->
                <a href="#" class="dropdown-item notify-item">
                    <div class="notify-icon bg-faded">
                        <img src="assets/images/avatars/avatar2.png" alt="img" class="rounded-circle img-fluid">
                    </div>
                    <p class="notify-details">
                        <b>John Doe</b>
                        <span>User registration</span>
                        <small class="text-muted">3 minutes ago</small>
                    </p>
                </a>

                <!-- item-->
                <a href="#" class="dropdown-item notify-item">
                    <div class="notify-icon bg-faded">
                        <img src="assets/images/avatars/avatar3.png" alt="img" class="rounded-circle img-fluid">
                    </div>
                    <p class="notify-details">
                        <b>Michael Cox</b>
                        <span>Task 2 completed</span>
                        <small class="text-muted">12 minutes ago</small>
                    </p>
                </a>

                <!-- item-->
                <a href="#" class="dropdown-item notify-item">
                    <div class="notify-icon bg-faded">
                        <img src="assets/images/avatars/avatar4.png" alt="img" class="rounded-circle img-fluid">
                    </div>
                    <p class="notify-details">
                        <b>Michelle Dolores</b>
                        <span>New job completed</span>
                        <small class="text-muted">35 minutes ago</small>
                    </p>
                </a>

                <!-- All-->
                <a href="#" class="dropdown-item notify-item notify-all">
                    View All Allerts
                </a>

            </div>
        </li>


        <li class="list-inline-item dropdown notif">
            <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" aria-haspopup="false" aria-expanded="false">
                <i class="fas fa-cog"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-sm">
                <!-- item-->
                <div class="dropdown-item noti-title">
                    <h5>
                        <small>Settings</small>
                    </h5>
                </div>

                <!-- item-->
                <a href="#" class="dropdown-item notify-item">
                    <p class="notify-details ml-0">
                        <i class="fas fa-cog"></i>
                        <b>Settings 1</b>
                    </p>
                </a>

                <!-- item-->
                <a href="#" class="dropdown-item notify-item">
                    <p class="notify-details ml-0">
                        <i class="fas fa-cog"></i>
                        <b>Settings 2</b>
                    </p>
                </a>

                <!-- item-->
                <a href="#" class="dropdown-item notify-item">
                    <p class="notify-details ml-0">
                        <i class="fas fa-cog"></i>
                        <b>Settings 3</b>
                    </p>
                </a>

            </div>

        </li>


        <li class="list-inline-item dropdown notif">
            <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" aria-haspopup="false" aria-expanded="false">
                <img src="assets/images/avatars/admin.png" alt="Profile image" class="avatar-rounded">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->
                <div class="dropdown-item noti-title">
                    <h5 class="text-overflow">
                        <small>Hello, admin</small>
                    </h5>
                </div>

                <!-- item-->
                <a href="profile.html" class="dropdown-item notify-item">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>

                <!-- item-->
                <a href="#" class="dropdown-item notify-item">
                    <i class="fas fa-power-off"></i>
                    <span>Logout</span>
                </a>
            </div>
        </li>

    </ul>

    <ul class="list-inline menu-left mb-0">
        <li class="float-left">
            <button class="button-menu-mobile open-left">
                <i class="fas fa-bars"></i>
            </button>
        </li>
    </ul>

</nav>

</div>
<div class="left main-sidebar">

    <div class="sidebar-inner leftscroll">

        <div id="sidebar-menu">

            <ul>
                <li class="submenu">
                    <a class="active" href="index.html">
                        <i class="fas fa-bars"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li class="submenu">
                    <a href="users.html">
                        <i class="fas fa-user"></i>
                        <span> Users </span>
                    </a>
                </li>

                <li class="submenu">
                    <a href="blog.html">
                        <i class="fas fa-file-alt"></i>
                        <span> Blog </span>
                    </a>
                </li>

                <li class="submenu">
                    <a href="mail-all.html">
                        <span class="label radius-circle bg-danger float-right">18</span>
                        <i class="fas fa-envelope"></i>
                        <span> Mailbox </span>
                    </a>
                </li>

                <li class="submenu">
                    <a href="slider.html">
                        <i class="fas fa-photo-video"></i>
                        <span> Slider </span>
                    </a>
                </li>













                <li class="submenu">
                    <a href="charts.html">
                        <i class="fas fa-chart-line"></i>
                        <span> Charts </span>
                    </a>
                </li>

                <li class="submenu">
                    <a id="tables" href="#">
                        <i class="fas fa-table"></i>
                        <span> Tables </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="tables-basic.html">Basic Tables</a>
                        </li>
                        <li>
                            <a href="tables-datatable.html">Data Tables</a>
                        </li>
                    </ul>
                </li>

                

               

                

               

               


            </ul>

            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>

    </div>

</div>
<!-- End Sidebar -->


<div class="content-page">

    <!-- Start content -->
    <div class="content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title float-left">Users</h1>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item active">Users</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            <span class="pull-right">
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_add_user">
                                    <i class="fas fa-user-plus" aria-hidden="true"></i> Add new user</button>
                            </span>
                            <div class="modal fade custom-modal" tabindex="-1" role="dialog" aria-labelledby="modal_add_user" aria-hidden="true" id="modal_add_user">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <form action="#" method="post" enctype="multipart/form-data">

                                            <div class="modal-header">
                                                <h5 class="modal-title">Add new user</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">&times;</span>
                                                    <span class="sr-only">Close</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Full name (required)</label>
                                                            <input class="form-control" name="name" type="text" required />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Valid Email (required)</label>
                                                            <input class="form-control" name="email" type="email" required />
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Password (required)</label>
                                                            <input class="form-control" name="password" type="text" required />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Role</label>
                                                            <select name="role_id" class="form-control" required>
                                                                <option value="">- select -</option>
                                                                <optgroup label="Staff member">
                                                                    <option value="1">Administrator</option>
                                                                    <option value="2">Manager</option>
                                                                    <option value="3">Author</option>
                                                                </optgroup>

                                                                <optgroup label="Registered member">
                                                                    <option value="4">User</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Skype (optional)</label>
                                                            <input class="form-control" name="skype" type="text" />
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Email verified</label>
                                                            <select name="email_verified" class="form-control">
                                                                <option value="1">YES</option>
                                                                <option value="0">NO</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Active</label>
                                                            <select name="active" class="form-control">
                                                                <option value="1">YES</option>
                                                                <option value="0">NO</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label>Avatar image (optional):</label>
                                                    <br />
                                                    <input type="file" name="image">
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary">Add user</button>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                            <h3>
                                <i class="far fa-user"></i> All users</h3>
                        </div>
                        <!-- end card-header -->

                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="min-width:300px">User details</th>
                                            <th style="width:120px">Role</th>
                                            <th style="min-width:110px;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let user of listUsers">
                                            <td>
                                                <div class="user_avatar_list d-none d-none d-lg-block">
                                                <img alt="image" src="{{this.url+user.emailId}}" />
                                            </div>
                                                <h4>{{user.nom}} {{user.prenom}}</h4>
                                                <p>{{user.emailId}}</p>
                                                <p>Adresse: {{user.adresse}} {{user.codePostal}}</p>
                                                <p>Phone: {{user.telephone}}</p>

                                            </td>

                                            <td>Administrator</td>


                                            <td>
                                                <a href="#" class="btn btn-primary btn-sm btn-block"><i class="far fa-edit"></i> Edit</a>
                                                <a href="#" class="btn btn-danger btn-sm btn-block mt-2"><i class="fas fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>

                                     
                                       
                                       
                                       
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <!-- end card-body -->

                    </div>
                    <!-- end card -->

                </div>
                <!-- end col -->

            </div>
            <!-- end row -->

        </div>
        <!-- END container-fluid -->

    </div>
    <!-- END content -->

</div>
<!-- END content-page -->
