
<!--<div class="theme-inner-banner">
    <div class="bg">
        <div class="opacity">
            <div class="container">
                <h2>Our Products</h2>
            </div>
        </div> 
    </div> 
    <div class="container">
        <div class="clearfix">
            <ul class="float-left">
                <li><a href="index-2.html" class="tran3s">Home</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Shop</li>
            </ul>
            <a href="#" class="float-right tran3s"><i class="flaticon-share"></i> Share</a>
        </div>
    </div>
</div> 
-------------------------------------------------------------------------------------------------------------->




<!--
<div class="shop-page">
    <div class="container">
        <div class="main-wrapper">
            <div class="col float-right all-product-wrapper shop-large-side">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <div class="single-item">
                            <img src="../../assets/images/55.png" alt="">
                            <h5><a href="shop-details.html" class="tran3s">Audio Speaker</a></h5>
                            <div class="clearfix">
                                <strong class="float-left">$289</strong>
                                
                            </div>
                        </div> 
                    <div class="col-sm-4 col-xs-6">
                        <div class="single-item">
                            <img src="../../assets/images/55.png" alt="">
                            <h5><a href="shop-details.html" class="tran3s">Toy Shot Gun</a></h5>
                            <div class="clearfix">
                                <strong class="float-left">$149</strong>
                                
                            </div>
                        </div> 
                    <div class="col-sm-4 col-xs-6">
                        <div class="single-item">
                            <img src="../../assets/images/55.png" alt="">
                            <h5><a href="shop-details.html" class="tran3s">Old Tv</a></h5>
                            <div class="clearfix">
                                <strong class="float-left">$189</strong>
                                
                            </div>
                        </div> 
                    <div class="col-sm-4 col-xs-6">
                        <div class="single-item">
                            <img src="../../assets/images/55.png" alt="">
                            <h5><a href="shop-details.html" class="tran3s">Kings Hat</a></h5>
                            <div class="clearfix">
                                <strong class="float-left">$79</strong>
                               
                            </div>
                        </div> 
                    <div class="col-sm-4 col-xs-6">
                        <div class="single-item">
                            <img src="../../assets/images/55.png" alt="">
                            <h5><a href="shop-details.html" class="tran3s">Rocket Luncher</a></h5>
                            <div class="clearfix">
                                <strong class="float-left">$989</strong>
                               
                            </div>
                        </div> 
                    <div class="col-sm-4 col-xs-6">
                        <div class="single-item">
                            <img src="../../assets/images/55.png" alt="">
                            <h5><a href="shop-details.html" class="tran3s">Summer Hat</a></h5>
                            <div class="clearfix">
                                <strong class="float-left">$99</strong>
                                
                            </div>
                        </div> 
                    <div class="col-sm-4 col-xs-6">
                        <div class="single-item">
                            <img src="../../assets/images/55.png" alt="">
                            <h5><a href="shop-details.html" class="tran3s">Color Drum</a></h5>
                            <div class="clearfix">
                                <strong class="float-left">$29</strong>
                                
                            </div>
                        </div> 
                    <div class="col-sm-4 col-xs-6">
                        <div class="single-item">
                            <img src="../../assets/images/55.png" alt="">
                            <h5><a href="shop-details.html" class="tran3s">Brownies</a></h5>
                            <div class="clearfix">
                                <strong class="float-left">$239</strong>
                              
                            </div>
                        </div> 
                    <div class="col-sm-4 col-xs-6">
                        <div class="single-item">
                            <img src="../../assets/images/55.png" alt="">
                            <h5><a href="shop-details.html" class="tran3s">Microphone</a></h5>
                            <div class="clearfix">
                                <strong class="float-left">$189</strong>
                                
                            </div>
                        </div> 
                <ul class="page-pagination clearfix">
                    <li class="float-left active"><a href="#" class="tran3s">1</a></li>
                    <li class="float-left"><a href="#" class="tran3s">2</a></li>
                    <li class="float-left"><a href="#" class="tran3s">3</a></li>
                    <li class="float-left"><a href="#" class="tran3s">Next</a></li>
                </ul>
            </div> 
            <div class="col float-right shop-sidebar">
                <div class="shop-sidebar-list">
                    <ul>
                        <li><a href="#" class="tran3s">Computers <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="tran3s">Monitors <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="tran3s">Projectors <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="tran3s">Cloths <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="tran3s">Controllers <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="tran3s">Shoes <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="tran3s">Others <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                    </ul>
                </div> 


               

               

                
            </div> 
        </div> 
    </div> 
</div> 
-->
<!-----------------------------------------------------------------------------------------------
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/QpjAiHq.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Quant olap shirts</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/JvPeqEF.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Quant trident shirts</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$14.99</h4><span class="strike-text">$20.99</span>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/Bf4dIaN.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Quant ruybi shirts</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>123</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/HO8e9b8.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Quant tinor shirts</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>110</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$15.99</h4><span class="strike-text">$21.99</span>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
----------------------------------------------------------------------------------->
<!--div id="content" class="listing-page condensed" style="padding-top: 194px;">
   
<div class="container">




<div class="row">


<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="listing-content">
       

        

        



<div class="listing-list-view" *ngFor="let article of articles">

            <div class="listing-list-view__item js-product">
<div class="product-image"-->
<!--div class="brand">
    <p class="item-text">{{article.nom}} {{article.scategorie.nom}} {{article.modele.nom}}</p>
</div-->
<!--div class="image">
    <a class="ga-click" data-gac="disabled__Go_to_product" data-ga-action="8315424" data-ga-label="prod_list" href="https://www.toppiecesvoiture.fr/fabricant/ridex/8315424">
        <img  style="height: 150px;" src="{{article.image}}"/>    </a>         
       </div>
</div>

<div class="product-description">
<div class="description">
    <div class="products-page-head">
        <h3>{{article.nom}},{{article.scategorie.nom}}</h3>
        
    </div>    <div class="article">
        <span>
            N° de référence {{article.codeArticle}}                   </span>
           
    </div>
    <div class="info-holder">
        <h4>Description:</h4>
        <p>
            {{article.description}} <br>
                        </p>
    </div>
                    
    
</div>

<div class="product-info">
                    <div class="product-info__price">
                                <div class="product-info__price-current">{{article.prix}}&nbsp;DT</div>
                                                </div>

    


                    
    <div class="product-info__addinfo">
        <div class="product-info__addinfo-count count">
            <button class="btn btn-primary" (click)="minus()"><i class="fa fa-minus"></i></button>
            <span class="qty">
                <input type="text" class="form-control" [(ngModel)]="inputnumber">            </span>
            <button class="btn btn-primary" (click)="plus()"><i class="fa fa-plus"></i></button>   
            
                 </div>
         </div>

         <div class="product-info__buttonbuy basket-btn basket_btn" id="8315424">Ajouter au panier</div>
              
    



    
                </div-->

<!--div class="parameters-container">
    
<ul class="parameter shadow">
<li class="parameter__item">
    <span class="right">16</span></li>
    <li class="parameter__item"><span class="left">Filetage extérieur [mm]: </span>
        <span class="right">14</span></li><li class="parameter__item"><span class="left">Longueur du filetage [mm]: </span><span class="right">19</span></li><li class="parameter__item"><span class="left">Position d'allumage [mm]: </span><span class="right">3</span></li><li class="parameter__item"><span class="left">Pas de vis [mm]: </span><span class="right">1,25</span></li><li class="parameter__item"><span class="left">Écartement des électrodes [mm]: </span><span class="right">0,8</span></li><li class="parameter__item"><span class="left">Couple de serrage [Nm]: </span><span class="right">28</span></li><li class="parameter__item"><span class="left">Nombres de pôles: </span><span class="right">1</span></li><li class="parameter__item"><span class="left">Angle de serrage [degré]: </span><span class="right">90</span></li>        

</ul>
</div-->
        <!--/div>
</div>


           






           










</div>

        
    </div>
</div>
</div>

</div>
</div-->


<!---------------------------------------------------------------------------------------------------->

<div class="container" >
    <div class="row">
      <!-- Content -->
      <div class="col-md-9">
        <div class="g-pr-15--lg">
          
          <div class="g-brd-bottom g-brd-gray-light-v4" *ngFor="let article of articles">
            <div class="row g-pt-30">
              <div class="col-6 col-sm-5 col-lg-4 g-mb-30">
                <figure class="g-pos-rel">
                  <img class="img-fluid" src="{{article.image}}" alt="Image Description">

                  
                </figure>
              </div>

              <div class="col-6 col-sm-7 col-lg-8 g-mb-15">
                <!-- Product Info -->
                <div class="g-mb-30">
                  <h4 class="h5 g-color-black mb-0 mt-1">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                        {{article.nom}},{{article.scategorie.nom}},{{article.modele.nom}}
                    </a>
                  </h4>
                  <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 mb-2" href="#"> N° de référence {{article.codeArticle}}</a>
                  <span class="d-block g-color-black g-font-size-20 mb-4">{{article.prix}}&nbsp;DT</span>
                  <p>{{article.description}}</p>
                </div>
                <!-- End Product Info -->

              

               
                <a class="theme-btn btn-style-two g-font-size-12 text-uppercase g-py-10 g-px-20" href="#">
                    Add to Cart
                    <i class="zmdi zmdi-shopping-cart-plus"></i>
  
                  </a>
              </div>
            </div>
          </div>
          <!-- End Products -->
         
          
         
          
          
          </div>
      </div>
      <!-- End Content -->

      <!-- Filters -->
      <div class="col-md-3 g-brd-left--lg g-brd-gray-light-v4 g-pt-40" >
        <div class="g-pl-15--lg g-pt-60">
          <!-- Categories -->
          <div class="g-mb-30" >
            <h3 class="h5 mb-3">Recherche</h3>
            <form class="form-inline my-2 my-lg-0">
                <input type="search" (ngModelChange)="searchArticles(key.value)" #key="ngModel" ngModel
                 name="key" id="searchName" class="form-control mr-sm-2" placeholder="Chercher par..." required>
             </form>
            <!--ul class="list-unstyled" >
              <li class="my-3" *ngFor="let scategorie of scategories" > 
                <a class="d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#">{{scategorie.nom}}</a>
              </li>
              
             
              
            </ul-->
          </div>
          <!-- End Categories -->

     
         
          

         
          
        

         
          

        </div>
      </div>
      <!-- End Filters -->
    </div>
  </div>